#header {
	margin-top: 30px;
}

.header h1 {
    position: relative;
    width: 100%;
    height: 100px;
    overflow: hidden;
}

#logo {
	color: #333 !important;
	display: block;
	height: 38px;
	left: 50%;
	margin-bottom: 10px;
	margin-left: -110px;
	padding: 10px;
	position: absolute;
	top: 0;
	width: 200px;
	z-index: 4;
}

#footer {
	margin-top: 30px;
	border-top: 1px solid #eeeeee;
	padding-top: 30px;
	color: #777777;
}

#contents {
	margin: 0 auto;
	max-width: 920px;
	min-width: 320px;
}

.footer_copyright {
	text-align: right;
    font-size: 11px;
    line-height: 14px;
    color: #9b9b9b;
}

.gallery-image img {
    display: block;
    max-width: 100%;
    height: auto;
}

.navigation {
    list-style: none;
    background: #fff;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
}

.site-wrap {
    min-width: 100%;
    min-height: 100vh;
    background-color: #eee;
    position: relative;
    top: 0;
    bottom: 100%;
    left: 0;
    z-index: 1;
		border-left: 1px solid #eee;
		padding: 4em;
}

.is-active {
    left: 165px !important;
}

.is-active ~ .site-wrap {
    left: 165px;
    //box-shadow: 0 0 5px 5px rgba(0,0,0,0.5);
}

.is-active, .site-wrap {
    transition: @transition-menu;
}


//navigation
.header-primary li a {
    line-height: 20px;
    padding: 14px 0;
		display: block;
		font-size: 1.1em;
}

a {
    color: #1a1a1a;
    text-decoration: none !important;
}

.header-primary li a.is-active {
    color: #1a1a1a;
    opacity: 0.4;
    pointer-events: none;
}

.header-primary li a:first-letter {
    text-transform: uppercase;
}

.header-primary, .header-contact {
    padding: 20px 28px;
    text-align: left;
}

.header-primary li {
    position: relative;
}

.header-primary li, .header-primary h3, .header-contact li, .header-contact h3 {
    display: block;
    font-size: 1.0625em;
    line-height: 1.11765em;
}

ol, ul {
    list-style: none;
}

.header-social {
    padding: 0 10px;
    position: absolute;
    bottom: 24px;
    left: 8px;
}

.header-social li {
    margin-right: -3px;
    display: inline-block;
    vertical-align: top;
}

.icon-facebook, .icon-behance, .icon-twitter {
    position: relative;
}

.icon-facebook {
    display: inline-block;
    vertical-align: top;
    width: 40px;
    height: 40px;
    text-align: left;
    background: url("/images/social-sprite.svg") 0 -100px no-repeat;
}

.icon-behance {
    display: inline-block;
    vertical-align: top;
    width: 40px;
    height: 40px;
    text-align: left;
    background: url("/images/social-sprite.svg") -40px -100px no-repeat;
}

.icon-twitter {
    display: inline-block;
    vertical-align: top;
    width: 40px;
    height: 40px;
    text-align: left;
    background: url("/images/social-sprite.svg") -80px -100px no-repeat;
}

.icon-facebook:hover {
    background: url("/images/social-sprite.svg") -150px -100px no-repeat;
    background-color: #fff;
}
.icon-behance:hover {
    background: url("/images/social-sprite.svg") -190px -100px no-repeat;
    background-color: #fff;
}
.icon-twitter:hover {
    background: url("/images/social-sprite.svg") -230px -100px no-repeat;
    background-color: #fff;
}

.home {
	height: 100%;
}

.home-items {
	width: 100%;
}

.home-item {
	width: 33%;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
	border-right: 1px solid #fff;
}

#home-about {
	transform: translateX(0);
}

#home-profile {
	transform: translateX(100%);
}

#home-projects {
	transform: translateX(200%);
}

body {
    overflow-x: hidden;
}

@media only screen and (max-width: 768px) {

}

@media (min-width: 1025px) {
	.home-item:nth-of-type(1) {
	    -moz-transform: translateX(0);
	    -ms-transform: translateX(0);
	    -webkit-transform: translateX(0);
	    transform: translateX(0);
	}
	.home-item:nth-of-type(2) {
	    -moz-transform: translateX(100%);
	    -ms-transform: translateX(100%);
	    -webkit-transform: translateX(100%);
	    transform: translateX(100%);
	}
	.home-item:nth-of-type(3) {
	    -moz-transform: translateX(200%);
	    -ms-transform: translateX(200%);
	    -webkit-transform: translateX(200%);
	    transform: translateX(200%);
	}
	.home-item {
	    -moz-transition: -moz-transform .6s cubic-bezier(0.165, 0.84, 0.44, 1);
	    -o-transition: -o-transform .6s cubic-bezier(0.165, 0.84, 0.44, 1);
	    -webkit-transition: -webkit-transform .6s cubic-bezier(0.165, 0.84, 0.44, 1);
	    transition: transform .6s ease-out;
	}
}

@media screen and (max-width: 1024px) {
	.home-item {
	    -moz-transition: none !important;
	    -o-transition: none !important;
	    -webkit-transition: none !important;
	    transition: none !important;
	    width: 100%;
	    height: 25%;
	    top: auto;
	    bottom: auto;
	    overflow: hidden;
	    position: relative;
	}
}
